In [2]:
import pandas as pd

## Credit Dataset

In [3]:
credit = pd.read_csv("/workspaces/IDS706-Final-Project/Datasets/tmdb_5000_credits.csv")

In [4]:
credit = credit.rename({"movie_id":"id"}, axis = 1)

In [5]:
credit = credit[["id","title", "cast", "crew"]]

In [6]:
credit["crew"] = credit["crew"].apply(eval)
credit["cast"] = credit["cast"].apply(eval)

In [7]:
director = []
for i in range(len(credit["crew"])):
    dir = ''
    for j in range(len(credit["crew"][i])):
        if credit["crew"][i][j]["job"] == "Director":
            dir += credit["crew"][i][j]["name"]+','
    
    dir = dir.rstrip(',')
    director.append(dir)
credit["director"]=director

In [8]:
credit['director']

0                              James Cameron
1                             Gore Verbinski
2                                 Sam Mendes
3                          Christopher Nolan
4                             Andrew Stanton
                        ...
4798                        Robert Rodriguez
4799                            Edward Burns
4800                             Scott Smith
4801                             Daniel Hsia
4802    Brian Herzlinger,Jon Gunn,Brett Winn
Name: director, Length: 4803, dtype: object

In [9]:
actor = []
for i in range(len(credit["cast"])):
    act = ''
    for j in range(len(credit["cast"][i])):
            act += credit["cast"][i][j]["name"]+','
    act = act.rstrip(',')
    actor.append(act)
credit["actor"]= actor

In [10]:
credit.head()

,id,title,cast,crew,director,actor
0,19995,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...",James Cameron,"Sam Worthington,Zoe Saldana,Sigourney Weaver,S..."
1,285,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",Gore Verbinski,"Johnny Depp,Orlando Bloom,Keira Knightley,Stel..."
2,206647,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...",Sam Mendes,"Daniel Craig,Christoph Waltz,Léa Seydoux,Ralph..."
3,49026,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",Christopher Nolan,"Christian Bale,Michael Caine,Gary Oldman,Anne ..."
4,49529,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",Andrew Stanton,"Taylor Kitsch,Lynn Collins,Samantha Morton,Wil..."

## Movie Datset

In [29]:
movie = pd.read_csv("/workspaces/IDS706-Final-Project/Datasets/tmdb_5000_movies.csv")

In [30]:
movie.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [31]:
movie = movie[["id", "genres", "keywords","overview", "popularity",'production_countries', "release_date", "vote_average", "vote_count", "runtime"]]

In [32]:
movie["genres"] = movie["genres"].apply(eval)
movie["keywords"] = movie["keywords"].apply(eval)
movie["production_countries"] = movie["production_countries"].apply(eval)

In [24]:
movie["genres"] [0]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [33]:
genre = []
for i in range(len(movie["genres"])):
    gen = ''
    for j in range(len(movie["genres"][i])):
            gen += movie["genres"][i][j]["name"]+','
    gen = gen.rstrip(',')
    genre.append(gen)
movie["genres_list"] = genre

In [34]:
keys = []
for i in range(len(movie["keywords"])):
    key = ''
    for j in range(len(movie["keywords"][i])):
            key += movie["keywords"][i][j]["name"]+','
    key = key.rstrip(',')
    keys.append(key)
movie["key"] = keys

In [35]:
country = []
for i in range(len(movie["production_countries"])):
    key = ''
    for j in range(len(movie["production_countries"][i])):
            key += movie["production_countries"][i][j]["name"]+','
    key = key.rstrip(',')
    country.append(key)
movie["country"] = country

In [36]:
movie['year'] = pd.DatetimeIndex(movie['release_date']).year
movie['year'] = movie['year']-min(movie['year'])

In [ ]:
"True" in movie.year.isnull()

In [37]:
movie.head(3)

,id,genres,keywords,overview,popularity,production_countries,release_date,vote_average,vote_count,runtime,genres_list,key,country,year
0,19995,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 1463, 'name': 'culture clash'}, {'id':...","In the 22nd century, a paraplegic Marine is di...",150.437577,"[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,7.2,11800,162.0,"Action,Adventure,Fantasy,Science Fiction","culture clash,future,space war,space colony,so...","United States of America,United Kingdom",93.0
1,285,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...","Captain Barbossa, long believed to be dead, ha...",139.082615,"[{'iso_3166_1': 'US', 'name': 'United States o...",2007-05-19,6.9,4500,169.0,"Adventure,Fantasy,Action","ocean,drug abuse,exotic island,east india trad...",United States of America,91.0
2,206647,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 470, 'name': 'spy'}, {'id': 818, 'name...",A cryptic message from Bond’s past sends him o...,107.376788,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2015-10-26,6.3,4466,148.0,"Action,Adventure,Crime","spy,based on novel,secret agent,sequel,mi6,bri...","United Kingdom,United States of America",99.0

In [ ]:
credit.head(3)

In [40]:
df = credit.merge(movie, how = "left")

In [39]:
df = df.drop(["cast", "crew", "genres", "keywords", "release_date","production_countries"], axis = 1)

In [ ]:
df.to_csv("/workspaces/IDS706-Final-Project/clean_df/clean_df.csv")

In [ ]:
df = pd.read_csv("/Users/emma/IDS706-Final-Project/clean_df.csv")