In [3]:
import pandas as pd

## Credit Dataset

In [4]:
credit = pd.read_csv("/Users/emma/IDS706-Final-Project/Datasets/tmdb_5000_credits.csv")

In [5]:
credit = credit.rename({"movie_id":"id"}, axis = 1)

In [6]:
credit = credit[["id","title", "cast", "crew"]]

In [7]:
credit["crew"] = credit["crew"].apply(eval)
credit["cast"] = credit["cast"].apply(eval)

In [8]:
director = []
for i in range(len(credit["crew"])):
    dir = []
    for j in range(len(credit["crew"][i])):
        if credit["crew"][i][j]["job"] == "Director":
            dir.append(credit["crew"][i][j]["name"])
    director.append(dir)
credit["director"]=director

In [9]:
credit.sample(20)

,id,title,cast,crew,director
3195,39806,Princess Kaiulani,"[{'cast_id': 2, 'character': 'Princess Ka'iula...","[{'credit_id': '52fe47329251416c9106d347', 'de...",[Marc Forby]
278,869,Planet of the Apes,"[{'cast_id': 1, 'character': 'Leo Davidson', '...","[{'credit_id': '52fe4285c3a36847f8025527', 'de...",[Tim Burton]
1969,2621,Return to Me,"[{'cast_id': 3, 'character': 'Bob Rueland', 'c...","[{'credit_id': '52fe4360c3a36847f804fb99', 'de...",[Bonnie Hunt]
1482,71469,The Darkest Hour,"[{'cast_id': 1, 'character': 'Sean', 'credit_i...","[{'credit_id': '54c3aec5c3a3687c4001024a', 'de...",[Chris Gorak]
4636,44490,Chuck & Buck,"[{'cast_id': 1, 'character': 'Buck O'Brien', '...","[{'credit_id': '53463de60e0a265fe6000f2b', 'de...",[Miguel Arteta]
4782,17345,Flywheel,"[{'cast_id': 1, 'character': 'Jay', 'credit_id...","[{'credit_id': '52fe471e9251416c7508e579', 'de...",[Alex Kendrick]
2146,19904,The Stepfather,"[{'cast_id': 7, 'character': 'David Harris', '...","[{'credit_id': '52fe47f79251416c750ab845', 'de...",[Nelson McCormick]
1874,5123,August Rush,"[{'cast_id': 12, 'character': 'August Rush', '...","[{'credit_id': '52fe43f5c3a36847f807a60d', 'de...",[Kirsten Sheridan]
4284,23730,C.H.U.D.,"[{'cast_id': 1, 'character': 'George Cooper', ...","[{'credit_id': '56432b319251410a3f001821', 'de...",[Douglas Cheek]
1026,11091,Riding in Cars with Boys,"[{'cast_id': 1, 'character': 'Beverly Donofrio...","[{'credit_id': '52fe43f59251416c75024339', 'de...",[Penny Marshall]
4057,43610,The Valley of Decision,"[{'cast_id': 9, 'character': 'Mary Rafferty', ...","[{'credit_id': '52fe4654c3a36847f80f922d', 'de...",[Tay Garnett]
2713,16005,The Lucky Ones,"[{'cast_id': 4, 'character': 'Fred Cheaver', '...","[{'credit_id': '553e37dbc3a3687db1003063', 'de...",[Neil Burger]
2021,13680,The Game Plan,"[{'cast_id': 1, 'character': 'Joe Kingman', 'c...","[{'credit_id': '56347f52c3a3681b5c017375', 'de...",[Andy Fickman]
3220,150202,The Haunting in Connecticut 2: Ghosts of Georgia,"[{'cast_id': 3, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4adb9251416c910c80b1', 'de...",[Tom Elkins]
2213,2639,Deconstructing Harry,"[{'cast_id': 1, 'character': 'Harry Block', 'c...","[{'credit_id': '52fe4361c3a36847f804fef1', 'de...",[Woody Allen]
2490,8009,Highlander,"[{'cast_id': 1, 'character': 'Connor 'The High...","[{'credit_id': '576be048c3a36863d1002f5e', 'de...",[Russell Mulcahy]
4008,139038,A Haunted House,"[{'cast_id': 9, 'character': 'Malcolm', 'credi...","[{'credit_id': '52fe4c5ac3a368484e1b3f2f', 'de...",[Michael Tiddes]
3007,10135,Road House,"[{'cast_id': 1, 'character': 'James Dalton', '...","[{'credit_id': '52fe43319251416c75007087', 'de...",[Rowdy Herrington]
4344,10643,Godzilla 2000,"[{'cast_id': 1, 'character': 'Yuji Shinoda', '...","[{'credit_id': '52fe439a9251416c75016e23', 'de...",[Takao Okawara]
865,11321,Seven Pounds,"[{'cast_id': 14, 'character': 'Ben', 'credit_i...","[{'credit_id': '558ac5eec3a36821040036a2', 'de...",[Gabriele Muccino]

In [10]:
actor = []
for i in range(len(credit["cast"])):
    act = []
    for j in range(len(credit["cast"][i])):
            act.append(credit["cast"][i][j]["name"])
    actor.append(act)
credit["actor"]= actor

In [11]:
credit.head()

,id,title,cast,crew,director,actor
0,19995,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weave..."
1,285,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",[Gore Verbinski],"[Johnny Depp, Orlando Bloom, Keira Knightley, ..."
2,206647,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...",[Sam Mendes],"[Daniel Craig, Christoph Waltz, Léa Seydoux, R..."
3,49026,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",[Christopher Nolan],"[Christian Bale, Michael Caine, Gary Oldman, A..."
4,49529,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",[Andrew Stanton],"[Taylor Kitsch, Lynn Collins, Samantha Morton,..."

## Movie Datset

In [12]:
movie = pd.read_csv("/Users/emma/IDS706-Final-Project/Datasets/tmdb_5000_movies.csv")

In [13]:
movie.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [14]:
movie = movie[["id", "genres", "keywords", "popularity", "release_date", "vote_average", "vote_count", "runtime"]]

In [15]:
movie["genres"] = movie["genres"].apply(eval)
movie["keywords"] = movie["keywords"].apply(eval)

In [16]:
movie["genres"] [0]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [17]:
genre = []
for i in range(len(movie["genres"])):
    gen = []
    for j in range(len(movie["genres"][i])):
            gen.append(movie["genres"][i][j]["name"])
    genre.append(gen)
movie["genres_list"] = genre

In [18]:
keys = []
for i in range(len(movie["keywords"])):
    key = []
    for j in range(len(movie["keywords"][i])):
            key.append(movie["keywords"][i][j]["name"])
    keys.append(key)
movie["key"] = keys

In [19]:
movie['year'] = pd.DatetimeIndex(movie['release_date']).year

In [20]:
"True" in movie.year.isnull()

False

In [21]:
movie.head(3)

,id,genres,keywords,popularity,release_date,vote_average,vote_count,runtime,genres_list,key,year
0,19995,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 1463, 'name': 'culture clash'}, {'id':...",150.437577,2009-12-10,7.2,11800,162.0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",2009.0
1,285,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...",139.082615,2007-05-19,6.9,4500,169.0,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",2007.0
2,206647,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 470, 'name': 'spy'}, {'id': 818, 'name...",107.376788,2015-10-26,6.3,4466,148.0,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",2015.0

In [22]:
credit.head(3)

,id,title,cast,crew,director,actor
0,19995,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weave..."
1,285,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",[Gore Verbinski],"[Johnny Depp, Orlando Bloom, Keira Knightley, ..."
2,206647,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...",[Sam Mendes],"[Daniel Craig, Christoph Waltz, Léa Seydoux, R..."

In [23]:
df = credit.merge(movie, how = "left")

In [24]:
df = df.drop(["cast", "crew", "genres", "keywords", "release_date"], axis = 1)

In [25]:
df.to_csv("clean_df.csv")

In [26]:
df = pd.read_csv("/Users/emma/IDS706-Final-Project/clean_df.csv")